<html>
	<head>
		<title>Me7o</title>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css"/>
		<link rel="stylesheet" href="/stylesheets/app.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

		<div id="topMenu" class="ui fixed inverted menu">
			<div class="ui container">
				<div class="header item"><a href="/login"><i class="code icon"></a></i>Me7o</div>
				<a href="/" class="item">Home</a>
				<%if(currentUser && currentUser.username=="admin"){%>
					<a href="/blogs/new" class="item">New Post</a>
					<a href="/seedDB" class="item">Seed DB</a>
				<%}%>
				<%if(currentUser){%>
					<a href="#" class="item"><%= currentUser.username %></a>
					<a href="/logout" class="item">Logout</a>
				<%}%>
			</div>
		</div>
	<body id="bodyDiv">
