<% include ./partials/header %>

<div class="container">
	<div id="leftParallax" class="row">
		<div class="col-md-4">
			<div class="parallaxCoverSL">
			</div>
		</div>
	</div>
	<div id="centerCol" class="row">
		<div class="col-md-12">
			<% Sblogs.forEach(function(Sblog){ %>
				<div class="cardSettings card mx-auto">
					<img id="mainImg" class="card-img-top" src="<%= Sblog.image %>" alt="Card image cap">
					<div id="cardB" class="card-body">
						<h5 id="titleText" class="card-title"><%= Sblog.title %></h5>
						<p class="card-text"><span> <%- Sblog.body.substring(0,100) %>... </span></p>
						<a href="/Sblogs/<%= Sblog._id %>" class="btn btn-primary">Read More</a>
					</div>
				</div>
			<%})%>
		</div>
	</div>
	<div id="rightParallax2" class="row">
		<div class="col-md-4">
			<div class="parallaxCoverSR">
			</div>
		</div>
	</div>
</div>

<% include ./partials/footer %>
