<% include ./partials/header %>
<div class="ui grid">
	<div class="five wide column">
		<div class="parallaxCoverSL">
		</div>
	</div>
	<div class="ui main text container  six wide centered column">
		<h1 class="ui header">MJ vs LBJ</h1>
		<div class="ui top attached segment">
			<div class="ui divided items">
				<% Sblogs.forEach(function(blog){ %>
					<div class="item">
							<div class="image">
								<img src="<%= blog.image %>" />
							</div>
							<div class="content">
							<a class="header" href="Sblogs/<%= blog._id %>"><%= blog.title %></a>
							<div class="extra">
								<a class="ui floated basic violet button" href="/Sblogs/<%= blog._id %>">
								Read More
								<i class="right chevron icon"></i>
								</a>
							</div>
						</div>
					</div>
				<% }) %>
			</div>
		</div>
	</div>
	<div class=" five wide column right floated left aligned">
		<div class="parallaxCoverSR"></div>
	</div>
</div>





<% include ./partials/footer %>
