i.icon{
	font-size: 2em;
}

#delete{
	display: inline;
}

#centerCol{
	margin-top: 100px;
}
.container.main{
	margin-top: 4em;
}

#showImg{
	width: 50%;
}
#titleText{
	font-weight: bold;
}
#mainImg{
	width: 418px;
	height: 235px;
}
#cardB{
	background-color: #212529;
	color: white;
}
.cardSettings{
	width: 30em;
	margin-bottom: 20px;
}
.parallaxCoverL {
	position: fixed !important;
	width: 35.25%;
	height: 100%;
	background: url("https://i.imgur.com/mQRBAmT.jpg") no-repeat;
	background-size: cover;
	z-index: -1;
	/* transform: translateX(-60%); */
	bottom: 0px;
	left: -5%;
}

.parallaxCoverR {
	position: fixed !important;
	width: 35.25%;
	height: 100%;
	background: url("https://i.imgur.com/uxxBGXt.jpg") no-repeat;
	background-size: cover;
	z-index: -1;
	/* transform: translateX(-60%); */
	bottom: 0px;
	left: 70%;

}

.parallaxCoverSL {
	position: fixed !important;
	width: 35.25%;
	height: 100%;
	background: url("https://i.imgur.com/NwPEDCI.jpg") no-repeat;
	background-size: cover;
	z-index: -1;
	bottom: 0px;
	left: -5%;
}

.parallaxCoverSR {
	position: fixed !important;
	width: 35.25%;
	height: 100%;
	background: url("https://2centsworthofsports.files.wordpress.com/2013/01/jordan.jpg") no-repeat;
	background-size: cover;
	z-index: -1;
	bottom: 0px;
	left: 70%;
}
#midContainer{
	overflow: hidden;
}
#rightParallax{
	position:fixed;
	top:0;
	right:0;
	min-width: 48rem;
}
#rightParallaxImg{
	width:100%;
	position: absolute;
	right:0;
	top:0;
}

#rightParallaxImgSR{
	width:100%;
	position: absolute;
	right:0;
	top:0;
	height: 940px;
}
table, th, td {
    border: 1px solid black;
}

@media only screen and (max-width: 414px) {
	#mainImg{
		width: 100%;
	}
	.cardSettings{
		width: 100%;
	}
	#rightParallax{
		display:none;
	}
	#leftParallax{
		display:none;
	}
	.mjlbjfinals{
		display:none;
	}
	.mjplayoffs{
		display:none;
	}
	.lbjplayoffs{
		display:none;
	}
}

@media screen and (min-width: 500px) and (max-width: 1800px) {


}

@media screen and (min-width: 500px) and (max-width: 1450px) {


}
