i.icon{
	font-size: 2em;
}

#delete{
	display: inline;
}

#centerCol{
	margin-top: 100px;
}
.container.main{
	margin-top: 4em;
}

#showImg{
	width: 50%;
}
#titleText{
	font-weight: bold;
}
#mainImg{
	width: 418px;
	height: 235px;
}
#cardB{
	background-color: #212529;
	color: white;
}
.cardSettings{
	width: 30em;
	margin-bottom: 20px;
}
.parallaxCoverL {
	/* position: fixed !important; */
	/* width: 31.25%;
	height: 100%; */
	background: url("https://i.imgur.com/mQRBAmT.jpg") no-repeat;
	/* background-size: cover;
	z-index: -1; */
}

.parallaxCoverR {
	position: fixed !important;
	width: 31.25%;
	height: 100%;
	background: url("https://i.imgur.com/uxxBGXt.jpg") no-repeat;
	background-size: cover;
	z-index: -1;
}

.parallaxCoverSL {
	position: fixed !important;
	width: 31.25%;
	height: 100%;
	background: url("https://i.imgur.com/NwPEDCI.jpg") no-repeat;
	background-size: cover;
	z-index: -1;
}

.parallaxCoverSR {
	position: fixed !important;
	width: 31.25%;
	height: 100%;
	background: url("https://2centsworthofsports.files.wordpress.com/2013/01/jordan.jpg") no-repeat;
	background-size: cover;
	z-index: -1;
}
#midContainer{
	overflow: hidden;
}

table, th, td {
    border: 1px solid black;
}

@media only screen and (max-width: 414px) {
	#mainImg{
		width: 100%;
	}
	.cardSettings{
		width: 24rem;
	}
}
